{% load static %}

{% block javascript %}
<script src="{% static 'src/js/services/botService.js' %}"></script>
<script src="{% static 'src/js/moment.js' %}"></script>
<script src="{% static 'src/js/botAsistente.js' %}"></script>
<script src="{% static 'src/js/lottie-player.js' %}"></script>
{% endblock javascript %}

<button id="chatButton" class="fixed bottom-4 right-2 ">
    <lottie-player src="{% static 'src/json/bot.json' %}" background="transparent" speed="1"
        style="width: 220px; height: 220px;" loop autoplay></lottie-player>
</button>

<div id="backdrop" class="fixed inset-0 bg-black opacity-50 hidden"></div>

<!-- Contenedor del Chat Bot -->
<div id="chatContainer"
    class="fixed  bg-white rounded-lg shadow-lg w-8/12 hidden top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-5/6">
    <div class="p-4 border-b">
        <h2 class="text-xl font-bold text-center">Chat Bot</h2>
    </div>
    <div id="container-mensajes" class="p-4 h-5/6 overflow-y-auto flex flex-col">
        <div id="container-mensajes-anteriores" class="flex flex-col py-2">
            <div class="w-full flex justify-center mb-2" id="ver-conversaciones-anteriores">
                <button class="bg-indigo-600 py-2 px-3 rounded-lg text-white">Ver Conversaciones Anteriores</button>
            </div>
            <button></button>
            <div class="" id="mensajes-anteriores"></div>
            <div class="hidden w-full py-5 border-t-2 border-gray-200 flex justify-center mt-10"
                id="fecha-fin-container">
                <span class="-mt-10 bg-indigo-300 py-2 px-3 rounded-lg" id="fecha-fin">Fin Conversaciones
                    Anteriores</span>
            </div>
        </div>
        <div class="" id="mensajes"></div>
        <!-- Mensajes se añadirán dinámicamente aquí -->
    </div>
</div>