{% extends "_base.html" %}

{% load static %}

{% block content %}

<section class="dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
        <div class="mr-auto place-self-center lg:col-span-8">
            <h1
                class="mb-4 text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl dark:text-white text-center sm:text-left">
                Bienvenido a RedSeguro <br> Asistencia y Seguridad para tus seres queridos
            </h1>
        </div>
        <div class="lg:mt-0 lg:col-span-4 lg:flex justify-center mt-6 sm:mt-10">
            <img src="{% static 'src/img/abus.png' %}" alt="abus" class="max-w-full h-auto">
        </div>
    </div>
</section>
<!-- End block -->
{% include "videosInformativos.html" %}
{% include "preguntasFrecuentes.html" %}
{% include "formularioConsultas.html" %}
{% include "components/footer.html" %}

{% endblock content %}