{% extends "_base.html" %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h4 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900">¡Bienvenido a Red Seguro!</h4>
    <h2 class="mt-5 text-center text-lg font-semibold leading-8 tracking-tight text-gray-900 max-w-full mx-auto">
      En nuestra plataforma, nos comprometemos a empoderar a las personas adultas en la realización de sus gestiones diarias, garantizando que cada paso se dé de manera segura y ágil. Sabemos que el mundo digital puede ser desafiante y que las estafas son una preocupación real, por lo que nuestra misión es ofrecerte las herramientas y el apoyo necesarios para navegarlo con confianza.<br><br>
      
      En Red Seguro, ofrecemos un entorno donde la seguridad es nuestra prioridad. Facilitamos la realización de trámites, asegurándonos de que cada usuario tenga acceso a información clara y útil. Nuestro objetivo es simplificar tus gestiones, brindándote tranquilidad y protección en cada interacción.<br><br>
      
      Estamos aquí para acompañarte en este camino, garantizando que puedas llevar a cabo tus actividades diarias sin preocupaciones. ¡Únete a nosotros y descubre cómo Red Seguro puede hacer tu vida más fácil y segura!
    </h2>    
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

  </div>
</div>
{% endblock content %}